*{
	margin: 0;
	padding: 0;

}

body{
	background-color:#f4f4f4;
	color: #555555;

	font-family:  Arial, Helvetica,;
	sans-serif;
	font-size: 16px:;
	font-weight: normal;
	/*Same as abobe */
	font:  normal 16px Arial, Helvetica,;
		sans-serif;

	line-height: 1.6em;
	margin: 0;
}

.containers{
	width:80%;
	margin: auto;
}

.box-1{
	background-color: #333;
	color: #fff;

	border-right:5px red solid;
	border-left:5px red solid;
	border top: 5px red solid;
	border-bottom: 5px red solid;
	border-width: 3px;
	border-bottom-width: 10px;
	border-top-style: dotted;

	border:  5px red solid;

	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;

	/* Same as above */
	padding: 20px;

	margin-top:20px;
	margin:20px 0;
}

.box-1 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoation: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;

.box-2{
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px 0;
}

.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align:center;
}

.categories u1{
	padding: 0;
	}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px) {
    #main{
        width: 100%;
        float: none;
    }

    #sidebar{
        width: 100%;
        float: none;
	}

}
